@charset "UTF-8";

body {
    font-family: sans-serif;
    background-color: #3C4E5C;
    max-width: 800px;
    margin: auto;
}

header {
    background-color: #DB9021;
    color: #332F2A;
    padding: 10px;
    margin: 15px;
    border-radius: 0px 15px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.438);
    text-align: center;
}

main {
    background-color: #3E759C;
    padding: 10px;
    margin: 15px;
    border-radius: 0px 15px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.438);
}

article {
    background-color: #ddf1ff;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 0px 15px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.438);
}

article > aside {
    background-color: #3E759C;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border-radius: 0px 6px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

nav {
    background-color: #332F2A;
    padding: 3px;
    width: 95%;
    max-width: 500px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.432);
    border-radius: 0px 6px;
    margin: auto;
    text-align: center;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    background-color: #6A5433;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

nav > a:hover {
    background-color: lightgray;
    color: black;
}

a#ativo {
    background-color: lightgray;
    color: black;
}

h2 {
    text-align: center;
}

p#tel {
    text-align: center;
    font-weight: 900;
}

p {
    font-weight: 400;
}